[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
  ignore=untracked
[submodule "vim-sunburst"]
	path = vim-sunburst
	url = git@github.com:hashref/vim-sunburst.git
  ignore=untracked
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
  ignore=untracked
[submodule "vim-relativity"]
	path = vim-relativity
	url = https://github.com/kennykaye/vim-relativity.git
  ignore=untracked
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore=untracked
